
  <h1 class="titre1">Comment importer un fichier format csv</h1> <br><br>

  <div class="picturetuto">
    <%= image_tag "formatImport.png" %>
  </div>
<div class="container">
  <div class="row">
  </div>
    <h3 class="titre1"> Importer des commandes par fichier csv</h3><br><br>
    <div class="row">
      <div class="col-sm-3"></div>

        <%= form_tag import_commands_path, multipart: true do %>
          <div class="col-sm-4"> <%= file_field_tag :file %></div>
          <div class="col-sm-2"><%= submit_tag "Upload Commandes",class:"btn btn-large btn-primary" %></div>
        <% end %>
      </div><br>
    </div>
</div>
